
$headerColor: hsl(212, 21%, 14%);
$primaryColor: hsl(158, 36%, 37%);
$primaryColorHover: hsl(157, 37%, 22%);
$textColor: hsl(228, 12%, 48%);
$backgroundColor: hsl(30, 38%, 92%);
$cardBackgroundColor: hsl(0, 0%, 100%);
$MainFontFamily: 'Fraunces', serif;
$SecondaryFontFamily: 'Montserrat', sans-serif;
